C:\log4j-application.log
.gradle/3.1/taskArtifacts/cache.properties.lock
.gradle/3.1/taskArtifacts/fileHashes.bin
.gradle/3.1/taskArtifacts/fileSnapshots.bin
.gradle/3.1/taskArtifacts/taskArtifacts.bin
build/classes/integrationTest/au/com/fx/converter/BaseIntegrationSpec.class
build/classes/integrationTest/au/com/fx/converter/FxConversionIntegrationSpec.class
build/classes/main/au/com/fx/converter/FXBootstrap.class
build/classes/main/au/com/fx/converter/commons/enums/ConversionType.class
build/classes/main/au/com/fx/converter/config/AppConfig.class
build/classes/main/au/com/fx/converter/config/PersistenceConfig.class
build/classes/main/au/com/fx/converter/domain/ConversionChart.class
build/classes/main/au/com/fx/converter/domain/Currency.class
build/classes/main/au/com/fx/converter/domain/ExchangeRate.class
build/classes/main/au/com/fx/converter/repository/ConversionChartRepository.class
build/classes/main/au/com/fx/converter/repository/CurrencyRepository.class
build/classes/main/au/com/fx/converter/repository/ExchangeRateRepository.class
build/classes/main/au/com/fx/converter/service/FxConversionService.class
build/classes/main/au/com/fx/converter/service/FxConversionServiceImpl.class
build/classes/main/au/com/fx/converter/service/factory/RateConversionHandlerFactory.class
build/classes/main/au/com/fx/converter/service/factory/RateConvertionHandlerFactoryImpl.class
build/classes/main/au/com/fx/converter/service/handler/BaseRateConversionHandler.class
build/classes/main/au/com/fx/converter/service/handler/CrossRateConversionHandlerImpl.class
build/classes/main/au/com/fx/converter/service/handler/DirectRateConversionHandlerImpl.class
build/classes/main/au/com/fx/converter/service/handler/InvertRateConversionHandlerImpl.class
build/classes/main/au/com/fx/converter/service/handler/RateConversionHandler.class
build/classes/main/au/com/fx/converter/service/handler/RateConversionHandlerImpl.class
build/classes/main/au/com/fx/converter/service/handler/UnityRateConversionHandlerImpl.class
build/classes/main/au/com/fx/converter/ui/console/FxConsole.class
build/classes/main/au/com/fx/converter/ui/console/FxConsoleImpl.class
build/classes/main/au/com/fx/converter/ui/handler/ExceptionHandler.class
build/classes/main/au/com/fx/converter/ui/handler/ExceptionHandlerImpl.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_1_closure1$_closure10.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_1_closure1.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_2_closure2$_closure11.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_2_closure2.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_2_closure3$_closure12.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_2_closure3.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_3_closure4$_closure13.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_3_closure4.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_3_closure5$_closure14.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_3_closure5.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_3_closure6$_closure15.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_3_closure6.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_4_closure7$_closure16.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_4_closure7.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_4_closure8$_closure17.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_4_closure8.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_4_closure9$_closure18.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec$__spock_feature_0_4_closure9.class
build/classes/test/au/com/fx/converter/service/FxConversionServiceImplSpec.class
build/classes/test/au/com/fx/converter/service/factory/RateConversionHandlerFactoryImplSpec.class
build/classes/test/au/com/fx/converter/service/handler/CrossRateConversionHandlerImplSpec$__spock_feature_0_0_closure1$_closure3.class
build/classes/test/au/com/fx/converter/service/handler/CrossRateConversionHandlerImplSpec$__spock_feature_0_0_closure1.class
build/classes/test/au/com/fx/converter/service/handler/CrossRateConversionHandlerImplSpec$__spock_feature_0_0_closure2$_closure4.class
build/classes/test/au/com/fx/converter/service/handler/CrossRateConversionHandlerImplSpec$__spock_feature_0_0_closure2.class
build/classes/test/au/com/fx/converter/service/handler/CrossRateConversionHandlerImplSpec.class
build/classes/test/au/com/fx/converter/service/handler/DirectRateConversionHandlerImplSpec$__spock_feature_0_0_closure1$_closure4.class
build/classes/test/au/com/fx/converter/service/handler/DirectRateConversionHandlerImplSpec$__spock_feature_0_0_closure1.class
build/classes/test/au/com/fx/converter/service/handler/DirectRateConversionHandlerImplSpec$__spock_feature_0_1_closure2$_closure5.class
build/classes/test/au/com/fx/converter/service/handler/DirectRateConversionHandlerImplSpec$__spock_feature_0_1_closure2.class
build/classes/test/au/com/fx/converter/service/handler/DirectRateConversionHandlerImplSpec$__spock_feature_0_1_closure3$_closure6.class
build/classes/test/au/com/fx/converter/service/handler/DirectRateConversionHandlerImplSpec$__spock_feature_0_1_closure3.class
build/classes/test/au/com/fx/converter/service/handler/DirectRateConversionHandlerImplSpec.class
build/classes/test/au/com/fx/converter/service/handler/InvertRateConversionHandlerImplSpec$__spock_feature_0_0_closure1$_closure3.class
build/classes/test/au/com/fx/converter/service/handler/InvertRateConversionHandlerImplSpec$__spock_feature_0_0_closure1.class
build/classes/test/au/com/fx/converter/service/handler/InvertRateConversionHandlerImplSpec$__spock_feature_0_0_closure2$_closure4.class
build/classes/test/au/com/fx/converter/service/handler/InvertRateConversionHandlerImplSpec$__spock_feature_0_0_closure2.class
build/classes/test/au/com/fx/converter/service/handler/InvertRateConversionHandlerImplSpec.class
build/classes/test/au/com/fx/converter/service/handler/RateConversionHandlerImplSpec$__spock_feature_0_1_closure1$_closure2$_closure3$_closure4.class
build/classes/test/au/com/fx/converter/service/handler/RateConversionHandlerImplSpec$__spock_feature_0_1_closure1$_closure2$_closure3.class
build/classes/test/au/com/fx/converter/service/handler/RateConversionHandlerImplSpec$__spock_feature_0_1_closure1$_closure2.class
build/classes/test/au/com/fx/converter/service/handler/RateConversionHandlerImplSpec$__spock_feature_0_1_closure1.class
build/classes/test/au/com/fx/converter/service/handler/RateConversionHandlerImplSpec.class
build/classes/test/au/com/fx/converter/service/handler/UnityRateConversionHandlerImplSpec$__spock_feature_0_0_closure1$_closure2.class
build/classes/test/au/com/fx/converter/service/handler/UnityRateConversionHandlerImplSpec$__spock_feature_0_0_closure1.class
build/classes/test/au/com/fx/converter/service/handler/UnityRateConversionHandlerImplSpec.class
build/reports/tests/integrationTest/index.html
build/reports/tests/integrationTest/classes/au.com.fx.converter.BaseIntegrationSpec.html
build/reports/tests/integrationTest/classes/au.com.fx.converter.FxConversionIntegrationSpec.html
build/reports/tests/integrationTest/css/base-style.css
build/reports/tests/integrationTest/css/style.css
build/reports/tests/integrationTest/js/report.js
build/reports/tests/integrationTest/packages/au.com.fx.converter.html
build/resources/main/log4j.properties
build/resources/main/spring/db.properties
build/resources/main/sql/initdata_dml.sql
build/test-results/integrationTest/TEST-au.com.fx.converter.BaseIntegrationSpec.xml
build/test-results/integrationTest/TEST-au.com.fx.converter.FxConversionIntegrationSpec.xml
build/test-results/integrationTest/binary/output.bin
build/test-results/integrationTest/binary/output.bin.idx
build/test-results/integrationTest/binary/results.bin
build/tmp/integrationTest/jar_extract_888167882307361153_tmp
